<div class="px-8 pt-4 pb-8">
  <h1 class="text-3xl my-4 font-semibold text-accent">Контактирај Ме</h1>
  <form [formGroup]="commentForm" class="flex flex-col items-center justify-center">
    <label class="my-3 w-full text-primary font-semibold">
      Емаил:
      <input
        class="w-full bg-primary/10 outline-none p-4 rounded-4xl"
        type="email"
        autocomplete="off"
        formControlName="email"
        placeholder="Внеси емаил..."
      />
    </label>
    <label class="my-3 w-full text-primary font-semibold">
      Наслов:
      <input
        class="w-full bg-primary/10 outline-none p-4 rounded-4xl"
        type="text"
        autocomplete="off"
        formControlName="title"
        placeholder="Внеси наслов..."
      />
    </label>
    <label class="my-3 w-full text-primary font-semibold">
      Порака:
      <textarea
        class="w-full bg-primary/10 outline-none p-4 h-52 rounded-4xl"
        formControlName="message"
        placeholder="Внеси порака..."
      ></textarea>
      <small>{{ commentForm.controls.message.value?.length }}/1500</small>
    </label>
    <ngx-recaptcha2
      #captchaElem
      [siteKey]="siteKey"
      [useGlobalDomain]="false"
      formControlName="captcha"
      class="my-3"
    >
    </ngx-recaptcha2>
    <app-button
      class="block w-full"
      [btnValid]="commentForm.valid"
      [btnText]="'Прати'"
      (click)="postComment()"
    />
  </form>
</div>
