<section class="grid grid-cols-3 gap-4 px-4 py-8">
  <img
    class="border-2 border-accent border-dashed rounded-t-full shadow-material"
    ngSrc="/christmas_bear.jpeg"
    width="853"
    height="1280"
    alt="Bear"
  />
  <img
    class="border-2 border-accent border-dashed rounded-t-full shadow-material"
    ngSrc="/christmas_bunny.jpeg"
    width="928"
    height="1232"
    alt="Bear"
  />
  <img
    class="border-2 border-accent border-dashed rounded-t-full shadow-material"
    ngSrc="/christmas_fox.jpeg"
    width="853"
    height="1280"
    alt="Bear"
  />
</section>

<section
  class="bg-white px-4 py-8 text-center border-b-2 border-dashed border-accent md:border-2 md:shadow-material md:mx-4"
>
  <h2 class="text-accent text-2xl font-display mb-2">
    <img src="/kojasumjas.svg" alt="" class="w-84 mx-auto">
  </h2>
  <p class="text-accent text-base font-body">
    We’re Sarah and Emily, a spirited mother-daughter team whose shared love for crafting ignited a
    journey into the enchanting world of handmade crochet creations. From whimsical toys to delicate
    floral designs, our passion for crochet shines through in every stitch.
  </p>
  <button
    class="outline-none bg-cDark font-body px-4 py-2 font-bold text-cLight rounded-4xl mt-4 shadow-material"
    routerLink="/contact"
  >
    Контактирај ме!
  </button>
</section>

<section class="flex flex-col gap-4 px-4 py-8">
    <h2 class="text-accent text-2xl font-display mb-2">
      <img src="/moiizrabotki.svg" alt="" class="w-64 mx-auto">
    </h2>
  <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
    <div class="border-8 border-white border-solid shadow-material">
      <img
        class="border-2 border-accent border-dashed"
        ngSrc="/christmas_bear.jpeg"
        width="853"
        height="1280"
        alt="Bear"
      />
    </div>
    <div class="border-8 border-white border-solid shadow-material">
      <img
        class="border-2 border-accent border-dashed"
        ngSrc="/christmas_bunny.jpeg"
        width="928"
        height="1232"
        alt="Bear"
      />
    </div>
    <div class="border-8 border-white border-solid shadow-material">
      <img
        class="border-2 border-accent border-dashed"
        ngSrc="/christmas_fox.jpeg"
        width="853"
        height="1280"
        alt="Bear"
      />
    </div>
  </div>
  <button
    class="outline-none bg-cDark font-body px-8 py-2 font-bold text-cLight rounded-4xl shadow-material"
    routerLink="/portfolio"
  >
    Види Повеќе
  </button>
</section>
