<section class="mobile-menu font-body px-8 py-2 bg-cLight" [class.open]="isOpen()">
  <button class="close-btn w-full flex justify-end mt-2" (click)="closeMenu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2.5"
      stroke-linecap="round"
      fill="#594027"
      height="24px"
    >
      <path d="M6 6 L18 18 M18 6 L6 18" />
    </svg>
  </button>

  <nav class="flex flex-col gap-2">
    @for (item of navItems; track item.id) {
      <div
        class="text-base text-accent font-semibold"
        [routerLink]="item.route"
        (click)="closeMenu()"
      >
        {{ item.id }}.{{ item.name }}
      </div>
    }
  </nav>
</section>
