.banner {
  position: relative;

  background-color: white;
  background-image: repeating-linear-gradient(
    60deg,
    white 0px,
    white 30px,
    var(--washi-rose) 30px,
    var(--washi-rose) 60px
  );

}

.banner::before {
  content: '';
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

  background-color: white;
  background-image: repeating-linear-gradient(
    60deg,
    white 0px,
    white 30px,
    var(--washi-rose) 30px,
    var(--washi-rose) 60px
  );

  position: absolute;
  top: 0;
  right: -60px;
  width: 120px;
  height: 120px;
  z-index: -1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.banner::after {
  content: '';
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  background-color: white;
  background-image: repeating-linear-gradient(
    60deg,
    white 0px,
    white 30px,
    var(--washi-rose) 30px,
    var(--washi-rose) 60px
  );


  position: absolute;
  top: 0;
  left: -60px;
  width: 120px;
  height: 120px;
  z-index: -1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
