<header class="flex justify-between items-center p-4">
  <div class="font-display text-2xl text-accent cursor-pointer" routerLink="/">
    <img src="/natecardslogo.svg" alt="" class="h-14 w-14" />
  </div>
  <nav class="flex gap-4 font-body mt-4">
    @for (item of navItems; track item.id) {
      <div
        class="text-base text-accent cursor-pointer font-semibold py-2 px-2 min-w-35 text-center"
        [routerLink]="item.route"
        routerLinkActive="bg-cDark text-white rounded-4xl shadow-material border-2 border-dashed border-white"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ item.name }}
      </div>
    }
  </nav>
</header>
<img src="/natevinescolored.png" alt="Vines drawing" />
